body {
    font-family: 'Gabarito', sans-serif;
    background: var(--background);
    background-image: url('../assets/background-initial.jpeg');
    background-size: cover;
    background-position: top;
}