:root {
    
    --background: #0D2436;
    --title: #183B56;
    --cor-destaque: #36B37E;
    --title-footer:#FFFFFF;
    --subtitle-footer:#5A7184;
    --text-footer:#959EAD;
    --button: #1565D8;
}


